.app {
  text-align: center;
  background: lightblue;
  padding-top: 40px;
  padding-bottom: 40px;
}
.logoWrapper {
  width: 80px;
  height: 80px;
  margin: 0 auto;
  margin-bottom: 40px;
  background: white;
  border-radius: 40px;
}
.logo {
  width: 90px;
  transform: translate(-5px, -5px);
}
.container {
  display: flex;
  width: 90%;
  margin: 0 auto;
}
aside {
  margin-right: 15px;
  text-align: left;
}
.toggle {
  margin-top: 10px;
  margin-bottom: 24px;
}
.MuiToggleButtonGroup-root .MuiToggleButton-root {
  color: #1976d2;
}
.MuiToggleButtonGroup-root .MuiButtonBase-root.Mui-selected {
  background: #1976d2;
  color: white;
}
.MuiToggleButtonGroup-root .MuiButtonBase-root:hover {
  background: rgba(25, 118, 210, 0.12);
  color: #1976d2;
}
main {
  flex: auto;
}
